.flex-view {
  display: flex;
  overflow-x: hidden;
}

@media (min-width: 576px) {
  .flex-view .main {
    width: 100%;
    margin-left: 50px;
  }
}

.ads img {
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .main {
    margin-left: 0px;
  }
}
