<body>
<div class="container text-center">
  <div class="content-404" style="width: 50%">
    <img src="./assets/images/success/success_icon.jpg" class="img-responsive" style="max-width: 100px" alt="Successful!"/>
    <div class="row success-title" style="">Xin chúc mừng, bạn đã đặt hàng thành công</div>
    <div class="row success-description" style="">Chúng tôi sẽ gọi lại cho quý khách xác nhận đơn hàng và tiến hành giao hàng sớm nhất</div>
    <div class="row success-hotline">Hotline: 0786.954.845</div>
    <div class="col-sm-12" style="text-align: center; margin-bottom: 50px">
      <a class="btn btn-default check_out" [routerLink]="['/']">Quay lại trang chủ</a>
    </div>
  </div>
</div>
</body>
