<footer id="footer"><!--Footer-->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="companyinfo">
            <h2><span>Siêu thị</span>-Mega</h2>
            <p style="color: #000000">Giá luôn rẻ nhất thị trường</p>
            <p style="color: #000000">Phương châm chúng tôi là luôn đem đến những sản phẩm rẻ nhất và tốt nhất cho thị
              trường</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row first-row">
            <div class="row text-head">
              Chứng nhận
            </div>
            <div class="col-sm-6 registry-mobile">
              <div class="text-center">
                <div class="iframe-img">
                  <img src="./assets/images/icon/register_fotter.png" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-6 registry-mobile">
              <div class="text-center">
                <div class="iframe-img">
                  <img src="./assets/images/icon/noti_footer.png" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row dowload">
            <div class="col-sm-6 registry-mobile">
              <div class="text-center">
                <a href="#">
                  <div class="iframe-img">
                    <img src="./assets/images/icon/apple_store.png" alt=""/>
                  </div>
                  <div class="overlay-icon">
                    <i class="fa fa-play-circle-o"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-6 registry-mobile">
              <div class="text-center">
                <a href="#">
                  <div class="iframe-img">
                    <img src="./assets/images/icon/google_play_footer.png" alt=""/>
                  </div>
                  <div class="overlay-icon">
                    <i class="fa fa-play-circle-o"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 ship">
          <div class="row text-head">
            Giao hàng
          </div>
          <div class="row">
            <div class="col-sm-6 gh-mobile">
              <div class="text-center">
                <div class="iframe-img">
                  <img src="./assets/images/ship/ghn.jpg" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-6 gh-mobile">
              <div class="text-center">
                <div class="iframe-img">
                  <img src="./assets/images/ship/vnpost.jpg" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-6 gh-mobile">
              <div class="text-center">
                <div class="iframe-img">
                  <img src="./assets/images/ship/supership.png" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-6 gh-mobile">
              <div class="text-center">
                <div class="iframe-img">
                  <img src="./assets/images/ship/viettelpost.png" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="text-center">
                <div class="iframe-img">
                  <img class="full-image" src="./assets/images/ship/giaohang.jpg" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 ship">
          <div class="row text-head">
            Thanh toán
          </div>
          <div class="row">
            <div class="col-sm-6 gh-mobile">
              <div class="text-center">
                <div class="iframe-img">
                  <img src="./assets/images/cash/visa.png" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-6 gh-mobile">
              <div class="text-center">
                <div class="iframe-img">
                  <img src="./assets/images/cash/mastercard.jpg" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-6 gh-mobile">
              <div class="text-center">
                <div class="iframe-img">
                  <img src="./assets/images/cash/internet-banking-logo.jpg" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-6 gh-mobile">
              <div class="text-center">
                <div class="iframe-img">
                  <img src="./assets/images/cash/tratientainha.jpg" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row custom">
            <div class="col-sm-6 pay-mobile">
              <div class="text-center">
                <div class="iframe-img">
                  <img class="wallet right" src="./assets/images/cash/momo.png" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-6 pay-mobile">
              <div class="text-center">
                <div class="iframe-img">
                  <img class="wallet left" src="./assets/images/cash/zalopay.jpg" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="address">
            <img src="./assets/images/home/map.png" alt=""/>
            <p>Địa chỉ: Tầng 3 Mega Plaza, TTTM Vincom Mega Mall Thảo Điền, 159 Xa Lộ Hà Nội, Quận 2, Thành phố Hồ Chí
              Minh</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-widget">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="single-widget">
            <h2>Dịch vụ</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">Trợ giúp online</a></li>
              <li><a href="#">Chăm sóc khách hàng</a></li>
              <li><a href="#">Giao hàng miễn phí</a></li>
              <li><a href="#">Đổi, trả hàng</a></li>
              <li><a href="#">Bảo hành</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="single-widget">
            <h2>Về chúng tôi</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">Giới thiệu</a></li>
              <li><a href="#">Địa chỉ</a></li>
              <li><a href="#">Hotline</a></li>
              <li><a href="#">Khuyến mãi</a></li>
              <li><a href="#">Bán hàng cùng chúng tôi</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="single-widget">
            <h2>Khuyến mãi</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">Chương trình quay số</a></li>
              <li><a href="#">Các khuyến mãi hiện có</a></li>
              <li><a href="#">Chính sách khuyến mãi</a></li>
              <li><a href="#">Đổi trả hàng khuyến mãi</a></li>
              <li><a href="#">Bảo hành hàng khuyến mãi</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="single-widget">
            <h2>Nhà bán hàng</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">Hướng dẫn</a></li>
              <li><a href="#">Đăng kí</a></li>
              <li><a href="#">Hỗ trợ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 feedback">
          <div class="single-widget">
            <h2>Góp ý</h2>
            <form action="#" class="searchform footer-message">
              <div class="row">
                <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
                  <input type="text" placeholder="Nhập email" formControlName="email" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required || f.email.errors.email">Vui lòng nhập email</div>
                  </div>
                  <textarea name="content" id="content" class="text-area" rows="6"
                            placeholder="Nhập ý kiến đóng góp về chất lượng dịch vụ." formControlName="content"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>
                  <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                    <div *ngIf="f.content.errors.required">Vui lòng nhập nội dung đóng góp</div>
                  </div>
                  <button type="submit" class="btn btn-default btn-sendmessage">Gửi đóng góp ý kiến của bạn <i
                    class="fa fa-arrow-circle-o-right"></i></button>
                </form>
              </div>
              <div class="row">
                <p class="message-foot">Mọi ý kiến đóng góp sẽ được xử lí và trả lời trong 24h</p>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <p class="pull-left">Copyright © 2013 Mega-Market Inc. All rights reserved.</p>
      </div>
    </div>
  </div>

</footer><!--/Footer-->

<div bsModal #feedbackModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideFeedbackModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 id="dialog-child-name" class="modal-title pull-left" style="margin-top: -20px">
          <div class="row" style="text-align: center">
            <i class="fa fa-smile-o" style="font-size: 80px; color: #f3900b"></i>
          </div>
          <div class="row" style="margin-left: 5px; margin-right: 5px">
          <span style="font-weight: normal;font-size: 12px;">
            Chân thành cảm ơn ý kiến đóng góp của bạn, chúng tôi sẽ sớm phản hồi chậm nhất trong vòng 24h!</span>
          </div>
        </h4>
      </div>
    </div>
  </div>
</div>
